.splitting .char {
  transform: translateY(2em);
  opacity: 0;
  @extend .anim-in;
}

.anim-in {
  animation: slide-in 1.5s cubic-bezier(.5, 0, .5, 1) both;
  animation-delay: calc(120ms * var(--char-index));
}

// .anim-out {
//   animation: slide-out 1s cubic-bezier(.5, 0, .5, 1) both;
//   animation-delay: calc(60ms * var(--char-index));
// }

@keyframes slide-in {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// @keyframes slide-out {
//   0% {
//     transform: translateY(0);
//     opacity: 1;
//   }
//   100% {
//     transform: translateY(2em);
//     opacity: 0;
//   }
// }